# Maven build files
/target/

# VsCode
/.idea
*.iml
.classpath
.project
.settings/
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

#Environment variables
.env
.env.appd

#Docker voloumes
db_data/