services:
  db:
    image: postgres:${POSTGRES_VERSION}
    container_name: ${POSTGRES_DB}_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./docker/init/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      
      
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: springboot_tasklist_app
    image: springboot_tasklist_app:latest
    ports:
      - "${APP_PORT}:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}

      APPDYNAMICS_AGENT_APPLICATION_NAME: "Tasklist"
      APPDYNAMICS_AGENT_TIER_NAME: "API"
      APPDYNAMICS_AGENT_NODE_NAME: "docker-compose-node"
      APPDYNAMICS_CONTROLLER_SSL_ENABLED: "true"
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
    env_file:
      - .env

volumes:
  db_data:
  
